<div class="calendar-day" style="background-color:{{@day.exercise.color}}"
  {{on "click" this.showModal}}>
  {{@day.number}}
  {{@day.exercise.name}}
  <DraggableObjectTarget class="sticker-target" @action={{this.setSticker}}>
    {{#each this.sticker as |sticker|}}
      <div class="calendar-sticker" {{fit-text}}>
        {{sticker.img}}
      </div>
    {{/each}}
  </DraggableObjectTarget>
</div>

{{#if this.showModalValue}}
  <ModalDialog
    @translucentOverlay=true
    @onClose={{action (mut this.showModalValue) false}}>
    <Update
    @day={{@day}}
    ></Update>
  </ModalDialog>
{{/if}}